html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  width: 100%;
  height: 100%;
  background: #F5F3EE;
}

nav {
  background: #7D1935 ;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

/* Title of App */
nav h1 {
  margin: 0;
  color: white;
}

/* Navigation Buttons */
nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

/* Navigation Hover */
nav a:hover {
  background: #F5F3EE;
  color: #4A96AD;
}

main {
  width: 100%;
  margin: auto;
  background:#F5F3EE;
  height: 100%;
}
