#todos-body {
  text-align: left;
  padding: 0px;
  width: 100%;
}

#todo-header {
  padding-top: 0px;
  color: White;
  border-radius: 5px 5px 5px 5px;
  background: rgb(73, 71, 71);
  text-align: left;
  cursor: pointer;
}

.material-icons {
  vertical-align: bottom;
}
