/* TodoEdit form */

#todos-body {
  text-align: left;
  padding-top: 10px;
}

#todo-title {
  text-transform: uppercase;
  font-weight: bold;
}

#todos-table-header {
  padding-top: 10px;
  font-weight: bold;
  background: rgb(54, 4, 232);
  color: White;
  text-align: left;
}

/* Button */
#form-btn {
  color: #7d1935;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #7d1935;
}

/* Button Hover */
#form-btn:hover {
  background: #F5F3EE;
  color: #4A96AD;
  border-color: #4A96AD;
}
